body {
    background-color: rgb(151, 122, 127);
    max-width: 1200px;
}

img {
    width: 200px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 20px;
    font-weight: bolder;
}

div {
    margin: 70px 50px;
    align-content: center;
}

#pagination {
    margin: 20px 15px;
}

p {
    display: none;
}

#horn-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.horns {
    width: 250px;
    margin: auto;
}













